body {
  background: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

article {
  grid-column: 1;
  display: flex;
  margin: 4px;
  border: 1px solid gray;
}

article:hover {
  background: #eee;
  cursor: pointer;
}

h2 {
  flex: 1;
  margin: 6px;
  font-weight: normal;
  font-size: 16px;
}

button {
  margin: 2px;
}