body {
  background: white;
}

main {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

article {
  grid-column: 1;
  display: flex;
  margin: 4px;
  border: 1px solid gray;
}

article:hover {
  cursor: pointer;
}

h2 {
  flex: 1;
  margin: 6px;
  font-weight: 500;
  font-size: 16px;
}

button {
  margin: 4px;
  width: 24px;

  text-align: center;
  border: none;
  border-radius: 50%;
  
  font-weight: bold;
  font-size: 20px;
  color: white;
  
  transition: all 0.2s;
}

button:hover {
  background: #ccc;
}

button:focus {
  border: 1px solid #77bdff;
  outline: 0;
}
